.App {
  text-align: center;
  background-color: #080808;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;

}

.App-header {
  
  background-image: url(../edge-josh-rose.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 0px 50px 0px;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-header a {
  color: white;
  padding: 0 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.CardHeader .CardFooter{
  background-color:  #3b3b3b;
}

.Card{
  color:  #808080; 
  display: flex;
  justify-content: center;

}

H1 {
  color:  #808080; 

}